.weathers {
	display: grid;
	grid-auto-columns: minmax(80px, auto);
	grid-auto-rows: 1fr;
	gap: 10px 20px;
}

.weathers .temp {
	font-size: 20px;
}

.weathers .icon {
	width: 80px;
	height: 80px;
}

.weathers .time {
	color: lightgray;
}
